{% extends "base.html" %}
{% import 'pagination.html' as pagination %}

{% block style %}
<style>
  .pagination {
    margin: 30px 0;
  }
  .clear-float-left {
    clear: both;
  }
</style>
{% endblock %}

{% block main %}
{{ pagination.render('/', page, pageMax) }}
<div class="logs">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">createAt</th>
        <th scope="col">text</th>
      </tr>
    </thead>
    <tbody>
      {% for log in logs %}
      <tr>
        <td>{{ log.id }}</td>
        <td>{{ log.createAtLocal.strftime('%Y-%m-%d %H:%M:%S') }}</td>
        <td>{{ log.text }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="clear-float-left"></div>
{{ pagination.render('/', page, pageMax) }}
{% endblock %}

{% block script %}
<script>
$(function() {
});
</script>
{% endblock %}
